---
import { getCollection } from "astro:content";
import '../styles/global.css';
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
// const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const allPosts = await getCollection("blog");

const pageTitle = "My Astro Learning Blog";
---

<html lang="en">
<body>
<BaseLayout pageTitle={pageTitle}>
    <h1>This is the blog</h1>
    <ul>
        {allPosts.map((post: any) =>
          <!--<BlogPost url={post.url} title={post.frontmatter.title} />-->
          <BlogPost url={`/posts/${post.id}`} title={post.data.title} />
        )}
    </ul>

</BaseLayout>
</body>
</html>
